# See https://help.github.com/ignore-files/ for more about ignoring files.
# Logs
*.log

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

errorShots
coverage

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#######################
# readthedocs gitignore
# sphinx build folder
docs/build/

#######################
# API Key gitignore
app-keys.js